body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #e32d42; }

hr.light {
  border-color: #fff; }

a {
  color: #e32d42;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    color: #e32d42; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.bg-primary {
  background-color: #e32d42 !important; }

.bg-dark {
  background-color: #212529 !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 3rem 0; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #212529; }

.block_title {
  padding-bottom: 1rem; }
  @media (min-width: 992px) {
    .block_title {
      padding-bottom: 4rem; } }

section.paddings {
  margin-top: -1rem;
  padding-top: 4rem;
  padding-bottom: 3rem; }
  @media (min-width: 992px) {
    section.paddings {
      margin-top: -4rem;
      padding-top: 6rem;
      padding-bottom: 3rem; } }

.img-responsive {
  width: 100%;
  height: auto;
  display: block; }

.img-logo {
  width: 45px;
  height: auto; }

.margin-top-6-rem {
  margin-top: 6rem; }

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    text-transform: uppercase;
    color: #000;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #e32d42; }
    #mainNav .navbar-brand .header_title {
      font-family: 'Jura', sans-serif;
      font-size: 24px;
      margin-left: 20px; }
  #mainNav .navbar-nav {
    font-family: 'Roboto', sans-serif; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      font-family: 'Roboto', sans-serif; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #e32d42; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
        color: #e32d42 !important;
        background-color: transparent; }
        #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
          background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav .navbar-brand {
      color: rgba(0, 0, 0, 0.9); }
      #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #000; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      color: rgba(0, 0, 0, 0.9); }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #000; }
    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #fff; }
      #mainNav.navbar-shrink .navbar-brand {
        color: #e32d42; }
        #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
          color: #e32d42; }
      #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
      #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #000; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #e32d42; } }

header.masthead {
  padding-top: 10rem;
  padding-bottom: -webkit-calc(10rem - 56px);
  padding-bottom: calc(10rem - 56px);
  background-image: url("../images/parallax-img.png");
  background-position: center center;
  background-size: cover; }
  header.masthead .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 45px; }
  header.masthead .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fff; }
  header.masthead .main_button {
    margin: 0 3rem;
    margin-bottom: 2rem;
    border-radius: 10px; }
  header.masthead .main_caption {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 4rem; }
  header.masthead .buttons_row {
    margin-bottom: 3rem; }
  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  header.masthead h1 {
    font-size: 2rem; }
  header.masthead p {
    font-weight: 300; }
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem; } }
  @media (min-width: 992px) {
    header.masthead {
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead .main_button {
        margin-bottom: 0rem; }
      header.masthead h1 {
        font-size: 3rem; } }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem; } }

section .subscribe_form .form-group {
  margin: 0 auto; }
  section .subscribe_form .form-group .col-auto {
    margin-bottom: 1rem; }

@media (min-width: 992px) {
  section .subscribe_form .form-group .col-auto {
    margin-bottom: 0; } }

section .socials {
  margin-top: 33px;
  text-align: right; }
  @media screen and (max-width: 720px) {
    section .socials {
      text-align: center; } }
  section .socials .socials__link {
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    margin-left: 14px;
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center; }
    @media screen and (max-width: 720px) {
      section .socials .socials__link {
        margin: 0 8px; } }
    section .socials .socials__link:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  section .socials__tw {
    background: url("../images/twitter-red.png"); }
  section .socials__tg {
    background: url("../images/telegram-red.png"); }
  section .socials__ml {
    background: url("../images/e-mail.png"); }
  section .socials__fb {
    background: url("../images/fb-red.png"); }
  section .socials__vk {
    background: url("../images/vk.png"); }
  section .socials__yt {
    background: url("../images/youtube-red.png"); }
  section .socials__icons {
    margin-top: 2rem;
    text-align: center; }

section.about .main-title {
  font-family: 'Jura', sans-serif;
  font-size: 45px;
  color: #e32d42; }

section.about .main_subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000; }

section.about .about-schedule__item .img-wrapper {
  height: 40px;
  width: 100%; }
  section.about .about-schedule__item .img-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; }

section.about .about-schedule__item h4 {
  font-family: 'Jura', sans-serif;
  font-size: 25px;
  color: #e32d42;
  font-weight: 600; }

section.about .about-schedule__item ul {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  list-style-image: url("../images/star.png"); }

section#infographics {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-size: cover; }
  section#infographics .container {
    max-width: none; }

section.program-committee {
  padding-top: 0 !important; }
  section.program-committee #programCommitteeCarousel {
    position: relative; }
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item.active,
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-next,
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-prev {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-right.active,
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-next {
      -webkit-transform: translateX(25%);
      -ms-transform: translateX(25%);
      transform: translateX(25%); }
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-left.active,
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-prev {
      -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      transform: translateX(-25%); }
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-right,
    section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-left {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    @media (max-width: 1024px) {
      section.program-committee #programCommitteeCarousel .carousel-item-next.carousel-item-left,
      section.program-committee #programCommitteeCarousel .carousel-item-next.carousel-item-right,
      section.program-committee #programCommitteeCarousel .carousel-item-prev.carousel-item-left,
      section.program-committee #programCommitteeCarousel .carousel-item-prev.carousel-item-right {
        display: none; }
      section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-right.active,
      section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-next {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); }
      section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-left.active,
      section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-prev {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }
    @media (max-width: 767px) {
      section.program-committee #programCommitteeCarousel .carousel-item-next.carousel-item-left,
      section.program-committee #programCommitteeCarousel .carousel-item-next.carousel-item-right,
      section.program-committee #programCommitteeCarousel .carousel-item-prev.carousel-item-left,
      section.program-committee #programCommitteeCarousel .carousel-item-prev.carousel-item-right {
        display: none; }
      section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-right.active,
      section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-next {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%); }
      section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-left.active,
      section.program-committee #programCommitteeCarousel .carousel-inner .carousel-item-prev {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%); } }
    section.program-committee #programCommitteeCarousel .carousel-control-prev {
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: -50px;
      height: 45px;
      width: 25px; }
      @media (max-width: 1024px) {
        section.program-committee #programCommitteeCarousel .carousel-control-prev {
          left: 0; } }
      section.program-committee #programCommitteeCarousel .carousel-control-prev .carousel-control-prev-icon {
        background-image: url(../images/location/location-prev.png);
        left: -50px;
        height: 45px;
        width: 25px; }
        section.program-committee #programCommitteeCarousel .carousel-control-prev .carousel-control-prev-icon:active {
          background-image: url(../images/speakers-slider-left.png); }
    section.program-committee #programCommitteeCarousel .carousel-control-next {
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: -50px;
      height: 45px;
      width: 25px; }
      @media (max-width: 1024px) {
        section.program-committee #programCommitteeCarousel .carousel-control-next {
          right: 0; } }
      section.program-committee #programCommitteeCarousel .carousel-control-next .carousel-control-next-icon {
        background-image: url(../images/location/location-next.png);
        right: -50px;
        height: 45px;
        width: 25px; }
        section.program-committee #programCommitteeCarousel .carousel-control-next .carousel-control-next-icon:active {
          background-image: url(../images/speakers-slider-right.png); }
  section.program-committee .main-title {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
    color: #e32d42;
    margin-top: 15px; }
  section.program-committee .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000; }
  section.program-committee .img-wrapper {
    cursor: pointer; }
    section.program-committee .img-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  section.program-committee .insides-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  section.program-committee .chairman__name {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 15px;
    font-weight: 600;
    text-align: center;
    cursor: pointer; }
  section.program-committee .chairman__position {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    min-height: 60px; }
  section.program-committee .chairman__link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.program-committee .chairman__link-list .chairman__link {
      margin-right: 20px;
      text-decoration: none; }
      section.program-committee .chairman__link-list .chairman__link i {
        display: block;
        font-size: 20px;
        color: #8d8d8d;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
      section.program-committee .chairman__link-list .chairman__link:hover i {
        color: #e32d42; }
      section.program-committee .chairman__link-list .chairman__link:last-child {
        margin-right: 0; }
  section.program-committee .ask-a-question {
    font-family: 'Roboto', sans-serif;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #e32d42;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    outline: none; }
    section.program-committee .ask-a-question:active {
      border: 1px solid #e32d42;
      color: #e32d42;
      background-color: #fff; }
  section.program-committee .modal-header .close {
    margin-left: 0;
    cursor: pointer;
    outline: none; }
  section.program-committee .modal-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; }
  section.program-committee .modal-footer {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center; }
    section.program-committee .modal-footer button {
      background-color: #e32d42;
      color: #fff; }
  section.program-committee .form-modal .form-title {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    section.program-committee .form-modal .form-title .close {
      margin-left: 0;
      cursor: pointer;
      outline: none; }
  section.program-committee .form-modal .ask-submit {
    font-family: 'Roboto', sans-serif;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #e32d42;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    outline: none; }
    section.program-committee .form-modal .ask-submit:active {
      border: 1px solid #e32d42;
      color: #e32d42;
      background-color: #fff; }

section#speakers {
  background-image: url(../images/section_top_bg.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; }
  section#speakers .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
    color: #e32d42; }
  section#speakers .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #000; }
  section#speakers .buttons_row {
    text-align: center; }
  section#speakers .announce-container h3 {
    font-weight: bold; }

section#sponsorship {
  background-image: url(../images/section_top_bg.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; }
  section#sponsorship .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 32px;
    color: #e32d42; }
  section#sponsorship .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #000; }
  section#sponsorship .buttons_row {
    text-align: center; }
  section#sponsorship .thank-container {
    padding-top: 3rem; }
  section#sponsorship .thank-box {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 15px;
    min-height: 60px; }
    section#sponsorship .thank-box .img-responsive {
      width: auto;
      max-height: 60px;
      max-width: 100%;
      margin: 0 auto; }
  section#sponsorship .buttons_row .btn:first-child {
    float: left; }
  section#sponsorship .buttons_row .btn:last-child {
    float: right; }
  section#sponsorship .sponsor_stats_container {
    padding-bottom: 4rem;
    font-family: 'Roboto', sans-serif;
    text-align: center; }
    @media (min-width: 992px) {
      section#sponsorship .sponsor_stats_container {
        text-align: left; } }
    section#sponsorship .sponsor_stats_container .sponsort_stats_title {
      color: #e32d42;
      font-size: 70px;
      font-weight: bold; }

section#rocked {
  background-image: url(../images/section_top_bg.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; }
  section#rocked .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
    color: #e32d42; }
  section#rocked .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #000; }
  section#rocked .buttons_row {
    text-align: center; }
  section#rocked .portfolio-box {
    display: inline-block; }
  section#rocked .popup-gallery {
    padding-top: 60px; }
    section#rocked .popup-gallery > div {
      padding: 15px; }
    section#rocked .popup-gallery .portfolio-box + .portfolio-box {
      padding-top: 20px; }

.location-slide {
  /* width: 100%;
    display: block;
    position: relative;*/ }
  .location-slide__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .location-slide .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
  .location-slide__title {
    color: #fff;
    font-family: 'Jura', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center; }
  .location-slide__info {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    width: 45%;
    text-align: left;
    margin: 0; }

.location-map {
  width: 100%;
  height: 500px; }

.speakers {
  position: relative; }
  .speakers-img-1 {
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 1024px) {
      .speakers-img-1 {
        display: none; } }
  .speakers-title {
    text-align: center;
    margin-bottom: 65px;
    position: relative; }
    .speakers-title-img-1 {
      position: absolute;
      top: -100px;
      right: -100px; }
      @media (max-width: 1024px) {
        .speakers-title-img-1 {
          display: none; } }
    .speakers-title h1 {
      color: #e32d42;
      font-family: 'Jura', sans-serif;
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 35px; }
    .speakers-title p {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #040404; }
  .speakers-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    padding-bottom: 75px; }
    .speakers-filters__item {
      list-style: none;
      padding: 0 30px;
      position: relative;
      border-right: 2px solid #8d8d8d; }
      .speakers-filters__item:last-child {
        border: none; }
    .speakers-filters__link {
      font-family: 'Roboto', sans-serif;
      font-size: 23px;
      color: #8d8d8d;
      line-height: 1; }
  .speakers-carousel .carousel-inner .carousel-item.active,
  .speakers-carousel .carousel-inner .carousel-item-next,
  .speakers-carousel .carousel-inner .carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .speakers-carousel .carousel-control-prev {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -100px;
    height: 45px;
    width: 50px; }
    @media (max-width: 1024px) {
      .speakers-carousel .carousel-control-prev {
        left: 0; } }
    .speakers-carousel .carousel-control-prev .carousel-control-prev-icon {
      background-image: url(../images/location/location-prev.png);
      left: -100px;
      height: 90px;
      width: 50px; }
      .speakers-carousel .carousel-control-prev .carousel-control-prev-icon:active {
        background-image: url(../images/speakers-slider-left.png); }
  .speakers-carousel .carousel-control-next {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -100px;
    height: 90px;
    width: 50px; }
    @media (max-width: 1024px) {
      .speakers-carousel .carousel-control-next {
        right: 0; } }
    .speakers-carousel .carousel-control-next .carousel-control-next-icon {
      background-image: url(../images/location/location-next.png);
      right: -100px;
      height: 90px;
      width: 50px; }
      .speakers-carousel .carousel-control-next .carousel-control-next-icon:active {
        background-image: url(../images/speakers-slider-right.png); }
  .speakers-slide__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-bottom: 90px;
    width: 100%; }
  .speakers-slide__img-wrapper {
    height: 100%; }
    .speakers-slide__img-wrapper img {
      width: 160px;
      height: 160px;
      object-fit: cover; }
      @media (max-width: 1024px) {
        .speakers-slide__img-wrapper img {
          width: 100%;
          height: auto;
          display: block; } }
  .speakers-slide__info-wrapper {
    /*margin-left: 25px;
      min-height: 100%;*/ }
  .speakers-slide__info {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .speakers-slide__info-title {
      font-family: 'Roboto', sans-serif;
      height: 25px;
      font-weight: 600;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .speakers-slide__info p {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 15px; }
  .speakers-slide__info-links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .speakers-slide__info-links a {
      display: block;
      height: 20px;
      width: 20px;
      text-decoration: none; }
      .speakers-slide__info-links a:hover i {
        color: #e32d42; }
      .speakers-slide__info-links a i {
        display: block;
        margin: 0 auto;
        font-size: 20px;
        color: #8d8d8d;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }

footer#footer {
  background-image: url(../images/footer_bg.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -4rem;
  padding-top: 6rem;
  font-family: 'Jura', sans-serif; }
  footer#footer .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
    color: #e32d42; }
  footer#footer .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #000; }
  footer#footer .buttons_row {
    text-align: center; }
  footer#footer .subscribe_form .form-group {
    margin: 0 auto;
    margin-bottom: 1rem; }
  footer#footer .subscribe_form .subscribe-button {
    width: 100%; }
  footer#footer .socials {
    margin-top: 33px;
    text-align: right; }
    @media screen and (max-width: 720px) {
      footer#footer .socials {
        text-align: center; } }
    footer#footer .socials .socials__link {
      -webkit-transition: all ease .5s;
      transition: all ease .5s;
      margin-left: 14px;
      display: inline-block;
      text-decoration: none;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center; }
      @media screen and (max-width: 720px) {
        footer#footer .socials .socials__link {
          margin: 0 8px; } }
      footer#footer .socials .socials__link:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
    footer#footer .socials__tw {
      background: url("../images/twitter-red.png"); }
    footer#footer .socials__tg {
      background: url("../images/telegram-red.png"); }
    footer#footer .socials__ml {
      background: url("../images/e-mail.png"); }
    footer#footer .socials__fb {
      background: url("../images/fb-red.png"); }
    footer#footer .socials__vk {
      background: url("../images/vk.png"); }
    footer#footer .socials__yt {
      background: url("../images/youtube-red.png"); }
    footer#footer .socials__icons {
      margin-top: 2rem;
      text-align: center; }
  footer#footer .footer__last {
    padding-top: 4rem; }
    footer#footer .footer__last a {
      padding: 0 15px; }

.text-primary {
  color: #e32d42 !important; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 1rem 2rem; }

.btn-primary {
  background-color: #e32d42;
  border-color: #e32d42; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #da1d33 !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important; }

.btn-rounded {
  background-color: transparent;
  border: 1px solid #e32d42; }
