footer#footer {
  background-image: url(../images/footer_bg.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-top: -4rem;
  padding-top: 6rem;
  font-family: 'Jura', sans-serif;


  .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
    color: $primary;
  }
  .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: $black;
  }
  .buttons_row {
    text-align: center;
  }
  .subscribe_form {
    .form-group {
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    .subscribe-button {
      width: 100%;
    }
  }
  .socials {
    //display: flex;
    margin-top: 33px;
    text-align: right;
    @media screen and (max-width: 720px) {
      text-align: center;
    }
    .socials__link {
      transition: all ease .5s;
      margin-left: 14px;
      display: inline-block;
      text-decoration: none;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      @media screen and (max-width: 720px) {
        margin: 0 8px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    &__tw {
      background: url('../images/twitter-red.png');
    }
    &__tg {
      background: url('../images/telegram-red.png');
    }
    &__ml {
      background: url('../images/e-mail.png');
    }
    &__fb {
      background: url('../images/fb-red.png');
    }
    &__vk {
      background: url('../images/vk.png');
    }
    &__yt {
      background: url('../images/youtube-red.png');
    }
    &__icons {
      margin-top: 2rem;
      text-align: center;
    }
  }

  .footer__last {
    padding-top: 4rem;
    a {padding: 0 15px;}
  }
}
