// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 3rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}

.block_title {
  padding-bottom: 1rem;
  @media (min-width: 992px) {
    padding-bottom: 2.7rem;
  }
}

section.paddings {
  margin-top: -1rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  @media (min-width: 992px) {
    margin-top: -4rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

}


.btn {}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.img-logo {
  width: 45px;
  height: auto;
}
.margin-top-6-rem {
  margin-top: 6rem;
}


/* Image lazy load*/
img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}
/* Image lazy load*/
u {
  text-decoration: none;
}
