.header {
  width: 100%;

  .img-wrapper {
    width: 100%;

    img {
      display: block;
      width: 100%;
    }

    &.mobile {
      display: none;
    }
  }
  
   

  @media screen and (max-width: 767.98px) {

    

    .img-wrapper {

      &.desk {
        display: none;
      }

      &.mobile {
        display: block;
      }
    }
  }

  .buy-ticket {
    background: #cc0e27;
    padding: 20px 0;

    .ticket-button {
      background: #fff;
      color: #cc0e27;
    }
  }

  .title {
    background: #cc0e27;
    text-align: left;
    padding: 20px 0 15px;

    h1 {
      font-family: Gilroy-Bold, sans-serif;
      font-size: 48px;
      line-height: 56px;
      font-weight: 500;
      color: #fff;
      margin: 0;
    }
  }
}

 @media screen and (max-width: 600px) {
   .header{
     .title {
      .main-banner__title {
        font-size: 28px;
        line-height: 1.2;
      }
     }
   }
 }
