.info{
    /*width: 100vw;
    width: 1500px;
    height: 500px;*/
    width: 100vw;
    height: 100vh; 
    box-sizing: border-box;  
    //overflow: hidden; 
    
    .slider-wrapper{
        width: 100%;
        //overflow: hidden;
        height: 100%;
    }
    .slick-dots{
        position: absolute;
        
        left: 50%;
        bottom: -35px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        z-index: 2;
        transform: translateX(-50%);
        width: 70px;
        
        li{
            
            font-size: 0;
            display: block;
            button{
                width: 10px;
                height: 10px;
                background-color: #dc747c;
                border: none;
                box-sizing: border-box;
                outline: none;
            }
            
        }
        .slick-active {

            button {
                //background-color: #ffbf55;
                background-color: #fff;
            }
          }
        
    }
    .slider-arrow {
       cursor: pointer;
      }
      .slick-next{
          background: transparent;
        background-image: url(../images/head-slider/arrow-right.png);
        position: absolute;
        top: 50%;
        right: 12%;
        width: 36px;
        height: 60px;
        min-width: 30px;
        z-index: 2;
        padding: 5px;
        margin: 0;
        border: none;
        outline: none;
        font-size: 0;
      }
      .slick-prev{
        background: transparent;
        background-image: url(../images/head-slider/arrow-left.png);
        position: absolute;
        top: 50%;
        left: 12%;
        width: 36px;
        height: 60px;
        min-width: 30px;
        z-index: 2;
        padding: 5px;
        margin: 0;
        border: none;
        outline: none;
        font-size: 0;
      }
    .slide{
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        position: relative;
        
        .btn-img{
            
            width: 225px;
            height: 63px;
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-top: 30px;
        }
        .btn-red{
            background-image: url(../images/head-slider/buy_tickets_red.png);
        }
        .btn-orange{
            background-image: url(../images/head-slider/buy_tickets_orange.png);
        }
        .options{
            margin-top: 60px;
            
            li{
                font-size: 32px;
            }
        }
        .text-block{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .dots{
            position: absolute;
            height: 100%;
            z-index: 1;
            width: 100%;
            top: 49px;
            img{
                width: 100%;
                max-width: 100%;
                
            }
        }
    }
    .slide-1{
        background-image: url(../images/head-slider/red_bg_slide_1.png);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        .bg{
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../images/head-slider/white_rectangle_block_1.png);
            z-index: 1;
            top: 20px;
        }
        .text-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 2;
            .coming{
                max-width: 400px;
                margin-top: 32px;
            }
        }
    }
    .slide-2{
        background-image: url(../images/head-slider/orange_bg.png);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //z-index: 1;
        .dots{
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../images/head-slider/white__rectangles_block_2.png);
            z-index: 1;
            top: 20px;
        }
        .ice-cream{
            position: absolute;
           // width: 100%;
            //height: 100%;
            //background-image: url(../images/head-slider/ice_cream_1.png);
            z-index: 1;
            width: 230px;
            height: 230px;
            top: 63px;
            left: 50px;
        }
        .ice-cream2{
            position: absolute;
           // width: 100%;
            //height: 100%;
            //background-image: url(../images/head-slider/ice_cream_2.png);
            width: 230px;
            height: 230px;
            z-index: 2;
            bottom: 63px;
            right: 50px;
        }
        
        
    }
    .slide-3{
        background-color: #6a9df6;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        .dots{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 48px;
        }
        .gull{
            position: absolute;
            top: 0;
            right: 300px;
            width: 241px;
            height: 229px;
        }
        .beacon{
            position: absolute;
            bottom: 0px;
            left: 230px;
            width: 100px;
            height: 236px;
        }
        .light{
            position: absolute;
            bottom: 100px;
            left: 306px;
            width: 485px;
            height: 199px;
            opacity: 0.71;
        }
        
    }
    .slide-4{
        background-image: url(../images/head-slider/orange_bg.png);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        .dots{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 36px;
        }
        .star_1{
            position: absolute;
            top: 0;
            left: 0;
            width: 230px;
            height: 208px;
            z-index: 2;
        }
        .star_2{
            position: absolute;
            bottom: 0;
            right: 60px;
            width: 319px;
            height: 259px;
            z-index: 2;
        }
        
        
    }
    .slide-5{
        background-image: url(../images/head-slider/red_bg_slide_1.png);
        position: relative;
        height: auto;
        
        .slide-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 5%;
            padding-bottom: 5%;
            height: 100%;
            margin: 0 15%;
            flex-wrap: wrap;
            .ticket{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                max-width: 276px;
                height: 363px;
                margin-top: 87px;
                .title{
                    color: #1f1d1d;
                    font-family: Gilroy;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 40px;
                    text-transform: uppercase;
                    text-align: center;
                }
                .btn-txt{
                    background-image: url(../images/head-slider/orange_btn.png);
                    width: 225px;
                    height: 63px;
                    color: #c7121f;
                    font-family: Gilroy;
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 40px;
                    text-transform: uppercase;
                    text-align: center;
                    //padding: 12px 0;
                    line-height: 63px;
                    //margin-top: 138px;
                }
                .price{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    //margin-top: 73px;
                    &_num{
                        color: #1f1d1d;
                        font-family: Gilroy;
                        font-size: 55px;
                        font-weight: 700;
                        line-height: 40px;
                    }
                    &_currency{
                        color: #1f1d1d;
                        font-family: Gilroy;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 18.33px;
                    }
                }
                .description{
                    color: #201d1d;
                    font-family: Gilroy;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 27px;
                    //margin-top: 61px;
                }
            }
            .options{
                width: 40%;
                //width: 300px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                ul{
                    width: 300px;
                    li{
                        width: 100%;
                        list-style: none;
                        color: #1f1d1d;
                        font-family: Gilroy;
                        font-size: 40px;
                        font-weight: 500;
                        line-height: 50px;
                        text-transform: uppercase;
                        white-space: nowrap;
                    }
                }
                .arrow-left{
                    img{
                        width: 63px;
                        height: 311px;
                    }
                    
                }
                .arrow-right{
                    width: 63px;
                    height: 311px;
                    padding-left: 55%;
                }
                /*&:before{
                    content: '';
                    position: absolute;
                    background-image: url(../images/head-slider/orange_arrow_left.png);
                    width: 63px;
                    height: 311px;
                    top: -42px;
                    left: -60px;
                }
                &:after{
                    content: '';
                    position: absolute;
                    background-image: url(../images/head-slider/orange_arrow_right.png);
                    width: 63px;
                    height: 311px;
                    top: -42px;
                    right: -60px;
                }*/
            }
        }
        
        
        
    }
}

@media screen and (max-width: 1024px){
    .slick-next{
        right: 3% !important;
    }
    .slick-prev{
        left: 3% !important;
    }
    .slick-dots{
        bottom: -7% !important;
    }
    .slide{
        .text-block{
            width: 80%;
            img{
                width: 100%;
            }
            .options{
                li{
                    font-size: 22px;
                }
            }
        }
    }
    
    .slide-1{
        flex-direction: column;
        .text-block{
            width: 80%;
            img{
                width: 100%;
            }
        }
    }
    .slide-2{
        .ice-cream{
            width: 92px !important;
            height: 92px !important;
            img{
                width: 92px;
                height: 92px;
            }
        }
        .ice-cream2{
            width: 92px !important;
            height: 92px !important;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }
    .slide-3{
        .beacon{
            display: none;
        }
        .light{
            display: none;
        }
        .gull{
            width: 96px !important;
            height: 92px !important;
            right: 15px !important;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .text-block{
            width: 80%;
            img{
                width: 100%;
            }
        }
        
    }
    .slide-4{
        
        .star_1{
            
            img{
                width: 92px;
                height: 83.2px;
            }
        }
        .star_2{
            width: 128px !important;
            height: 104px !important;
            img{
                width: 128px;
                height: 104px;
            }
            
            right: 0px !important;
        }
        .text-block{
            width: 80%;
            img{
                width: 100%;
            }
        }
        
    }
}