.location {

  &-slide {
   /* width: 100%;
    display: block;
    position: relative;*/

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(space-between);
    }

    &__title {
      color: $white;
      font-family: 'Jura', sans-serif;
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
    }

    &__info {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: $white;
      width: 45%;
      text-align: left;
      margin: 0;
    }
  }

  &-map {
    width: 100%;
    height: 500px;
  }
}
