section#media-partners {
  .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 32px;
    color: $primary;
  }
  .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: $black;
  }

  .thank-box {
    display: flex;
    align-items: center;
    min-height: 150px;
  }

}
