section#rocked {
  background-image: url(../images/section_top_bg.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
    color: $primary;
  }
  .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: $black;
  }
  .buttons_row {
    text-align: center;
  }
  .portfolio-box {
    display: inline-block;
  }
  .rocked-container {
    overflow: hidden;
  }
  .popup-gallery {
    padding-top: 60px;
    > div {
      padding: 15px;

      @media (max-width: 575px) {
        padding: 0 0 15px 0;
      }
    }

    .portfolio-box+.portfolio-box {
      padding-top: 20px;
      @media (max-width: 575px) {
        padding-top: 15px;
      }
    }
  }
}
