section#rocked {
  background-image: url(../images/section_top_bg.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -4rem;
  padding-top: 6rem;
  .main_title {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
    color: $primary;
  }
  .main_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: $black;
  }
  .buttons_row {
    text-align: center;
  }
  .portfolio-box {
    display: inline-block;
  }
  .popup-gallery {
    padding-top: 60px;
    > div {
      padding: 15px;
    }

    .portfolio-box+.portfolio-box {
      padding-top: 20px;
    }
  }
}
