.speakers {
  position: relative;

  &-img-1 {
    position: absolute;
    top: 0;
    left: 0;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &-title {
    text-align: center;
    margin-bottom: 65px;
    position: relative;

    &-img-1 {
      position: absolute;
      top: -100px;
      right: -100px;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    h1 {
      color: #e32d42;
      font-family: 'Jura', sans-serif;
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 35px;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #040404;
    }
  }

  &-filters {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    list-style: none;
    padding-bottom: 75px;

    &__item {
      list-style: none;
      padding: 0 30px;
      position: relative;
      border-right: 2px solid #8d8d8d;

      &:last-child {
        border: none;
      }
    }

    &__link {
      font-family: 'Roboto', sans-serif;
      font-size: 23px;
      color: #8d8d8d;
      line-height: 1;
    }
  }

  &-info-popup {

    .modal-dialog {

      @media (min-width: 576px) and (max-width: 991px) {
        max-width: 80%;
      }

      .modal-content {
        border-radius: 0;
        border: 3px solid #e32d42;
        -webkit-box-shadow: 20px 40px 0px 1px rgba(227,45,66,1);
        -moz-box-shadow: 20px 40px 0px 1px rgba(227,45,66,1);
        box-shadow: 20px 40px 0px 1px rgba(227,45,66,1);
        overflow: hidden;

        .modal-header {
          padding: 30px 50px;
          @include justify-content(flex-start);
          @include align-items(stretch);
          position: relative;
          border: none;

          @media (min-width: 300px) and (max-width: 551px) {
            @include flex-wrap(wrap);
          }



          .bg-img {
            display: none;
            position: absolute;
            bottom: -25%;
            right: -15%;
            transform: scale(-1, 1);

            @media (min-width: 992px) {
              display: block;
            }
          }

          .img-wrapper {
            min-width: 150px!important;

            @media (min-width: 300px) and (max-width: 551px) {
              width: 100%!important;
            }
          }

          .info-wrapper {
            margin-left: 20px;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(space-between);

            @media (min-width: 300px) and (max-width: 551px) {
              margin: 0;
            }

            .speaker-info {

              @media (min-width: 300px) and (max-width: 551px) {
                text-align: center;
              }

              .speaker__name {
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                margin-bottom: 20px;
                text-transform: uppercase;
              }

              .speaker__position {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                line-height: 1;
                margin-bottom: 10px;
              }

              .speaker__company {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                line-height: 1;
                margin-bottom: 15px;
              }
            }

            .speaker__link-list {
              @include flexbox;
              @include justify-content(flex-start);

              @media (min-width: 300px) and (max-width: 551px) {
                @include justify-content(center);
              }

              .speaker__link {
                display: block;
                height: 20px;
                width: 20px;
                text-decoration: none;
                margin-right: 20px;

                &:last-child {
                  margin-right: 0;
                }

                i {
                  display: block;
                  margin: 0 auto;
                  font-size: 20px;
                  color: #8d8d8d;
                  -webkit-transition: all 0.2s;
                  -moz-transition: all 0.2s;
                  transition: all 0.2s;
                }

                &:hover {

                  i {
                    color: #e32d42;
                  }
                }
              }
            }
          }
        }

        .modal-body {
          padding: 30px 50px;
          border: none;

          &__title {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #e32d42;
          }

          video {
            margin-top: 20px;
            width: 100%;
            height: 100%;
          }
        }

        .modal-footer {
          border: none;
          @include flexbox;
          @include justify-content(space-between);

          button {
            border: none;
            background: transparent;
            outline: none;
            font-family: 'Roboto', sans-serif;

            font-weight: 600;
            margin-bottom: 20px;
            text-transform: uppercase;
            cursor: pointer;

            @media (min-width: 300px) and (max-width: 551px) {
              font-size: 16px;
            }

            img {
              width: 21px;

              @media (min-width: 300px) and (max-width: 551px) {
                width: 16px;
              }
            }
          }

        }
      }
    }
  }

  &-carousel {

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      display: flex;
      align-items: stretch;
    }

    .carousel-control-prev {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      left: -100px;
      height: 45px;
      width: 50px;
      @media (max-width: 1024px) {
        left: 0;
      }

      .carousel-control-prev-icon {
        background-image: url(../images/location/location-prev.png);
        left: -100px;
        height: 90px;
        width: 50px;

        &:active {
          background-image: url(../images/speakers-slider-left.png);
        }
      }
    }

    .carousel-control-next {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      right: -100px;
      height: 90px;
      width: 50px;
      @media (max-width: 1024px) {
        right: 0;
      }
      .carousel-control-next-icon {
        background-image: url(../images/location/location-next.png);
        right: -100px;
        height: 90px;
        width: 50px;

        &:active {
          background-image: url(../images/speakers-slider-right.png);
        }
      }
    }

    //.slick-arrow {
    //  width: 42px;
    //  height: 72px;
    //}
    //
    //.slick-prev {
    //  left: 0;
    //
    //  &:active {
    //    background-image: url("../images/speakers-slider-left.png");
    //  }
    //}
    //
    //.slick-next {
    //  right: 0;
    //
    //  &:active {
    //    background-image: url("../images/speakers-slider-right.png");
    //  }
    //}
  }

  &-slide {


    &__item {
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(stretch);
      margin-bottom: 90px;
      width: 100%;
      cursor: pointer;
    }

    &__img-wrapper {
      height: 100%;

      img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        @media (max-width: 1024px) {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }

    &__info-wrapper {

    }

    &__info {
      height: 100%;
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(flex-start);


      &-title {
        font-family: 'Roboto', sans-serif;
        height: 25px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 15px;
      }
    }

    &__info-links {
      width: 100%;
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(center);

      a {
        display: block;
        height: 20px;
        width: 20px;
        text-decoration: none;
        margin-right: 20px;

        &:hover i{
          color: #e32d42;
        }

        i {
          display: block;
          margin: 0 auto;
          font-size: 20px;
          color: #8d8d8d;
          @include transition-all();
        }
      }
    }

    //
    //display: flex!important;
    //outline: none;
    //
    //&__item {
    //  @include flexbox;
    //  @include justify-content(flex-start);
    //  @include align-items(flex-start);
    //  margin-bottom: 90px;
    //  width: 50%;
    //
    //
    //}
    //
    //&__img-wrapper {
    //  height: 100%;
    //  width: auto;
    //
    //  img {
    //    width: 160px;
    //    height: 160px;
    //    object-fit: cover;
    //  }
    //}
    //
    //&__info-wrapper {
    //  margin-left: 25px;
    //  @include flexbox;
    //  @include flex-direction(column);
    //  @include justify-content(space-between);
    //  @include align-items(flex-start);
    //  min-height: 100%;
    //}
    //
    //&__info {
    //
    //
    //  &-title {
    //    font-family: 'Roboto', sans-serif;
    //    height: 27px;
    //    font-weight: 600;
    //    margin-bottom: 20px;
    //    text-transform: uppercase;
    //  }
    //
    //  p {
    //    font-family: 'Roboto', sans-serif;
    //    font-size: 20px;
    //    line-height: 1;
    //    margin-bottom: 5px;
    //  }
    //}
    //
    //&__info-links {
    //  width: 100%;
    //  @include flexbox;
    //  @include justify-content(space-between);
    //  @include align-items(center);
    //
    //  a {
    //    display: block;
    //    height: 20px;
    //    width: 20px;
    //    text-decoration: none;
    //
    //    &:hover i{
    //      color: #e32d42;
    //    }
    //
    //    i {
    //      display: block;
    //      margin: 0 auto;
    //      font-size: 20px;
    //      color: #8d8d8d;
    //      @include transition-all();
    //    }
    //  }
    //}
  }

  [data-dismiss="modal"] {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
