//.location {
//
//  &-slide {
//   /* width: 100%;
//    display: block;
//    position: relative;*/
//
//
//    &__img {
//      display: block;
//      width: 100%;
//      height: 100%;
//      object-fit: cover;
//
//      @media (max-width: 768px) {
//        min-height: 530px;
//      }
//      @media (max-width: 992px) {
//        min-height: 470px;
//      }
//    }
//
//    .container {
//      position: absolute;
//      top: 0;
//      left: 0;
//      right: 0;
//      height: 100%;
//      padding-top: 5%;
//      padding-bottom: 5%;
//      @include flexbox;
//      @include flex-direction(column);
//      @include justify-content(space-between);
//
//      @media (max-width: 992px) {
//        padding-bottom: 45px;
//      }
//    }
//
//    &__title {
//      color: $white;
//      font-family: 'Jura', sans-serif;
//      font-size: 40px;
//      text-transform: uppercase;
//      text-align: center;
//    }
//
//    &__info {
//      font-family: 'Roboto', sans-serif;
//      font-size: 16px;
//      color: $white;
//      width: 100%;
//      text-align: left;
//      margin: 0;
//
//      @media (max-width: 992px) {
//        width: 100%;
//      }
//    }
//  }
//
//  &-map {
//    width: 100%;
//    height: 65vh;
//    min-height: 500px;
//  }
//}

.location {

  .hotel {

    .img-wrapper {
      margin-bottom: 50px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

    &-map {
      width: 100%;
      height: 65vh;
      min-height: 500px;
    }

  .main-title {
    font-family: Jura,sans-serif;
    font-size: 45px;
    color: #c7121f;
    margin-top: 15px;
  }

  .main_subtitle {
    font-family: Roboto,sans-serif;
    font-size: 24px;
    color: #000;
    margin-bottom: 3rem!important;
  }
  .h4{
    color: black;
    font-size: 15px;
  }
}

.infoWindow-content {
  padding: 15px 0px 15px 15px;
  max-width: 220px;

  h3 {
    font-size: 16px;
    color: $primary;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: $primary;

    li {
      margin-bottom: 10px;
    }
  }

  img {
    max-width: 80px!important;
    max-height: 65px;
  }
}

.gm-style-iw-container {
  // Background
  > div {
    // Arrow shadow
    > div:first-child {
      border-top-color: transparent !important; // Disable
    }
    // Box shadow
    > div:nth-child(2) {
      background-color: transparent !important;
      border-radius: 5px!important;
      //box-shadow: none !important;
    }
    // Arrow image
    > div:nth-child(3) {
      transform: rotate(90deg);
      left: 0 !important;
      top: 20px !important;

      > div{
        &:first-child {
          div {
            box-shadow: none !important;
            transform: skewX(47.6deg) !important;
          }
        }

        &:nth-child(2) {
          div {
            box-shadow: none !important;
            transform: skewX(-47.6deg) !important;
          }
        }

      }
    }
    > div:nth-child(4) {
      border-radius: 5px!important;
    }
  }
  .gm-style-iw {
  }
}
